{% extends "base.html" %}

{% block title %}
Story 10 PPW - Johanes Simarmata
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row pt-5 mt-5 justify-content-center">
      <div class="col-md-10">
        <h1 class="text-monospace font-weight-normal">Welcome to my Page</h1>
      </div>
      <div class="col-md-10">
        <h3 class="font-weight-light font-italic">by Johanes Simarmata</h3>
      </div>
    </div>
    <div class="row justify-content-center pt-5">
      <div class="col-md-2">
        <a href="{% url 'story10:login' %}">
          <button type="button" class="btn btn-lg btn-warning">Login</button>
        </a>
      </div>
      <div class="col-md-2">
        <a href="{% url 'story10:signup' %}">
          <button type="button" class="btn btn-lg btn-danger" name="tombol_signup_landing">Sign Up</button>      
        </a>
      </div>
    </div>
  </div>
{% endblock %}