{% extends "base.html" %}

{% block title %}
Login Page
{% endblock %}

{% block content %}
    {% for i in messages %}
        <script>alert("{{ i }}")</script>
    {% endfor %}
    <div class="container pt-5 mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form action="" method="POST">
                    {% csrf_token %}
                    <label for="username">Username: </label>
                    <input type="text" name="username" id="username_box" required>
                    <br>
                    <label for="password">Password: </label>
                    <input name="password" type="password" id="password_box" required>
                    <br>
                    <input type="submit" value="Log In" class="btn btn-success" id="login-submit">
                </form>
            </div>
        </div>
    </div>
{% endblock %}