{% extends "base.html" %}

{% block title %}
Welcome, {{ user.username }}!
{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Hello, {{ user.username }}</h1>
      <p class="lead"><a href="{% url 'story10:logout' %}"><button class="btn btn-danger">Log Out</button></a></p>
    </div>
  </div>
{% endblock %}