{% extends "base.html" %}

{% block title %}
SignUp Page
{% endblock %}

{% block content %}
    {% for i in messages %}
        <script>alert("{{ i }}")</script>
    {% endfor %}
    <h1>SignUp Here</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <label for="username">Username: </label>
        <input type="text" name="username" required>
        <label for="password">Password: </label>
        <input name="password" type="password" required>
        <input type="submit" value="Log In" class="btn btn-success" id="login-submit">
    </form>
{% endblock %}